<nav class="nav_principal">
  <section class="conteedor_main_menu">
    <section class="avatar_space">
      <img class="avatar" src="assets/images/avatars/A__2Aire.jpg" />
      <p class="name_profile">Felipe Chaves Diaz</p>
    </section>
    <ul class="main_menu">
      <li class="btn_foro">
        <span><a routerLink="/foros" routerLinkActive="active">Foros</a></span>
      </li>
      <li class="btn_maloka">
        <span
          ><a routerLink="/maloka" routerLinkActive="active">Maloka</a></span
        >
      </li>
      <li class="btn_perfil">
        <span
          ><a routerLink="/perfil" routerLinkActive="active">Perfil</a></span
        >
      </li>
      <li class="btn_modulos">
        <span
          ><a routerLink="/modulos" routerLinkActive="active"
            >M&oacute;dulos</a
          ></span
        >
      </li>
    </ul>
    <img class="logo_bilan" src="assets/images/logos/logo_bilan_opt.png" />
    <section class="more_info">
      <button class="btn-modal" id="myModal">
        <img src="assets/images/Botones menu/boton_info@2x_opt.png" />
      </button>
      <a href="#">
        <img src="assets/images/Botones menu/boton_pregunta@2x_opt.png" />
      </a>
    </section>
    <ul class="totems">
      <li class="totem_basic">
        <img src="assets/images/Botones menu/totem_basico@2x_opt.png" />
      </li>
      <li class="totem_basic"></li>
      <li class="totem_basic"></li>
      <li class="totem_basic"></li>
      <li class="division_totems">
        <img src="assets/images/Botones menu/division_totem_opt.png" />
      </li>
      <li class="totem_analitico_estrategico">
        <img src="assets/images/Botones menu/totem_analitico@2x_opt.png" />
      </li>
      <li class="totem_analitico_estrategico">
        <img src="assets/images/Botones menu/totem_analitico@2x_opt.png" />
      </li>
      <li class="totem_analitico_estrategico">
        <img
          src="assets/images/Botones menu/totem_pensamiento_fondo@2x_opt.png"
        />
      </li>
      <li class="totem_analitico_estrategico"></li>
      <li class="totem_analitico_estrategico"></li>
      <li class="totem_analitico_estrategico"></li>
    </ul>
    <section class="game_time">
      <img src="assets/images/Botones menu/clock_opt.png" />
      <p class="time_text">5h 30min</p>
    </section>
  </section>
</nav>
