.nav_principal {
  top: 0px;
  width: 100%;
  height: 96px;
  background: transparent
    linear-gradient(180deg, var(--unnamed-color-8c613b) 0%, #402e1e 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(180deg, #8c613b 0%, #402e1e 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 10px 10px 5px grey;
  opacity: 1;
}
