<main class="modulo-teacher">
  <a class="actividades" routerLink="/teacher/panel-evaluacion">
    <figure>
      <img
        src="https://www.bilan.pi-interactiva.com/fotos/var/albums/2x/BG_Act-03-opt.png"
      />
    </figure>
    <p class="btn_intro_actyretos">Actividades</p>
  </a>
  <button class="btn-square btn-modal" id="bibliografia">
    <figure class="btn-square__img">
      <img src="assets/images/Botones menu/boton_modulos@2x_opt.png" alt="" />
    </figure>
    <h3 class="btn-square__text">Bibliografía</h3>
  </button>
  <button class="btn-square btn-modal" id="tuRol">
    <figure class="btn-square__img">
      <img
        src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-tu-rol.png"
        alt=""
      />
    </figure>
    <h3 class="btn-square__text">Tu rol</h3>
  </button>
  <button class="btn-square btn-modal" id="estandaresBasic">
    <figure class="btn-square__img">
      <img
        src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-tu-rol.png"
        alt=""
      />
    </figure>
    <h3 class="btn-square__text">Estandares básicos que se privilegian</h3>
  </button>
  <button class="btn-square btn-modal" id="ods">
    <figure class="btn-square__img">
      <img
        src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-ods.png"
        alt=""
      />
    </figure>
    <h3 class="btn-square__text">ODS</h3>
  </button>
</main>
