<div class="welcome" style="height: calc(100vh - 96px - 57px)">
  <main>
    <h1>BIENVENIDO</h1>
    <p class="italic_">
      “La destrucción parece inminente pero la esperanza persiste. Si logras
      encontrar el balance de los saberes las puertas del futuro seguirán
      abiertas”
    </p>
    <p class="bold_ italic_">-El Libro de Bilan-</p>
    <p>
      <span class="bold_">¡Te estábamos esperando!</span> este mundo está
      pasando por uno de sus períodos más críticos. Un profundo desbalance entre
      sus pueblos lo tiene al borde la extinción y solo tú podrás ayudar a
      recuperar al equilibro. Completa las actividades y juega los retos para
      así lograr que los elementos y los espíritus se reconcilien con los
      humanos y Bilan tenga una segunda oportunidad.
    </p>
  </main>
  <div class="welcome conteedor_main_menu">
    <div class="module-container">
      <a class="module-card" routerLink="./modulo">
        <div class="module-card__header">
          <figure class="module-card__header__img">
            <img
              src="assets/images/iconos/Elementos/tierra_full@2x.png"
              alt=""
            />
          </figure>
          <div class="module-card__header__text">
            <h3 class="module-card__header__text__title">LENGUAJE</h3>
            <i class="module-card__header__text__span">Geadin</i>
          </div>
        </div>
        <div class="module-card__grade">
          <h3>GRADO 10</h3>
        </div>
      </a>
      <a class="module-card" routerLink="./modulo">
        <div class="module-card__header">
          <figure class="module-card__header__img">
            <img
              src="assets/images/iconos/Elementos/tierra_full@2x.png"
              alt=""
            />
          </figure>
          <div class="module-card__header__text">
            <h3 class="module-card__header__text__title">LENGUAJE</h3>
            <i class="module-card__header__text__span">Geadin</i>
          </div>
        </div>
        <div class="module-card__grade">
          <h3>GRADO 11</h3>
        </div>
      </a>
    </div>
  </div>
</div>
