<section class="info_seccion mod_cinco">
  <h2 class="name_ciclo_info_header">CICLO DEL AIRE</h2>
  <div>
    <p>Espíritus</p>
    <ul>
      <li class="espiritus_basic">
        <img src="assets/images/Botones menu/Asset-5@2x_opt.png" />
      </li>
      <li class="espiritus_basic">
        <img src="assets/images/Botones menu/Asset-5@2x_opt.png" />
      </li>
      <li class="espiritus_basic">
        <img src="assets/images/Botones menu/Asset-5@2x_opt.png" />
      </li>
    </ul>
  </div>
</section>
<div class="texture_brgd">
  <main class="">
    <h1>ELIGE UN MÓDULO</h1>
    <ul class="bloque_modulos">
      <a routerLink="./matematicas">
        <li class="modulo modulo_uno">
          <div class="iz_mod">
            <img
              class="icono_prin_modulo"
              src="assets/images/iconos/Elementos/Fuego_full@2x_opt.png"
            />
            <h3 class="title_mod">
              MATEMÁTICAS<br /><span class="tribu_mod italic_">Yarkin</span>
            </h3>
            <p class="puntaje_mod">120</p>
          </div>
          <div class="der_mod">
            <ul class="tiem_in_game">
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li>
                <img src="assets/images/iconos/tiempo_modulo_verde_opt.png" />
              </li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
            </ul>
            <img
              class="img_prim_modulo"
              src="assets/images/Personajes/C__3Fuego_cut.png"
            />
          </div>
        </li>
      </a>
      <a routerLink="./competencias-ciudadanas">
        <li class="modulo modulo_dos">
          <div class="iz_mod">
            <img
              class="icono_prin_modulo"
              src="https://i.postimg.cc/PqT2CWCD/aire-full-2x-opt.png"
            />
            <h3 class="title_mod">
              COMPETENCIAS CIUDADANAS<br /><span class="tribu_mod italic_"
                >Nebulan</span
              >
            </h3>
            <p class="puntaje_mod">120</p>
          </div>
          <div class="der_mod">
            <ul class="tiem_in_game">
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li>
                <img src="assets/images/iconos/tiempo_modulo_verde_opt.png" />
              </li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
            </ul>
            <img
              class="img_prim_modulo"
              src="assets/images/Personajes/C__2Aire_cut.png"
            />
          </div>
        </li>
      </a>
      <a routerLink="./competencias-socioemocionales">
        <li class="modulo modulo_tres">
          <div class="iz_mod">
            <img
              class="icono_prin_modulo"
              src="https://i.postimg.cc/bJvgTqHN/luz-full-2x-opt.png"
            />
            <h3 class="title_mod">
              COMPETENCIAS SOCIOEMOCIONALES<br /><span class="tribu_mod italic_"
                >Talio</span
              >
            </h3>
            <p class="puntaje_mod">120</p>
          </div>
          <div class="der_mod">
            <ul class="tiem_in_game">
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li>
                <img src="assets/images/iconos/tiempo_modulo_verde_opt.png" />
              </li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
            </ul>
            <img
              class="img_prim_modulo"
              src="assets/images/Personajes/L__1Luz_cut.png"
            />
          </div>
        </li>
      </a>
      <a routerLink="./ciencias-naturales">
        <li class="modulo modulo_cuatro">
          <div class="iz_mod">
            <img
              class="icono_prin_modulo"
              src="https://i.postimg.cc/52ws9721/agua-full-2x-opt.png"
            />
            <h3 class="title_mod">
              CIENCIAS NATURALES<br /><span class="tribu_mod italic_"
                >Warten</span
              >
            </h3>
            <p class="puntaje_mod">120</p>
          </div>
          <div class="der_mod">
            <ul class="tiem_in_game">
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li>
                <img src="assets/images/iconos/tiempo_modulo_verde_opt.png" />
              </li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
            </ul>
            <img
              class="img_prim_modulo"
              src="assets/images/Personajes/G_agua@2x_cut.png"
            />
          </div>
        </li>
      </a>
      <a routerLink="./lenguaje">
        <li class="modulo modulo_cinco">
          <div class="iz_mod">
            <img
              class="icono_prin_modulo"
              src="https://i.postimg.cc/CxyvgTYm/tierra-full-2x-opt.png"
            />
            <h3 class="title_mod">
              LENGUAJE<br /><span class="tribu_mod italic_">Geodin</span>
            </h3>
            <p class="puntaje_mod">120</p>
          </div>
          <div class="der_mod">
            <ul class="tiem_in_game">
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li>
                <img src="assets/images/iconos/tiempo_modulo_verde_opt.png" />
              </li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
              <li><img src="assets/images/iconos/tiempo_modulo.png" /></li>
            </ul>
            <img
              class="img_prim_modulo"
              src="assets/images/Personajes/L__2Tierra_cut.png"
            />
          </div>
        </li>
      </a>
    </ul>
  </main>
</div>
