<div class="texture_brgd">
  <main class="conteedor_main_menu">
    <h1 style="text-align: center; font-weight: normal">FOROS</h1>
    <button
      class="btn_intro btn-modal"
      id="nuevoForo"
      style="margin-left: 76%; font-weight: 600"
    >
      Nuevo Foro
    </button>
    <div class="foro">
      <article class="foro__content">
        <a href="foro.html" style="color: inherit">
          <div class="foro__content__head">
            <div class="foro__content__info">
              <h3 class="foro__content__info__title">Nombre del foro</h3>
              <i class="foro__content__info__span">17/02/2021 - 10°</i>
            </div>
            <div class="comments">
              <figure class="comments__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="27.625"
                  viewBox="0 0 30 27.625"
                >
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #724011;
                      }

                      .cls-2 {
                        fill: #9f632a;
                      }

                      .cls-3 {
                        fill: #fff3e8;
                      }

                      .cls-4 {
                        fill: #e5bc95;
                      }
                    </style>
                  </defs>
                  <g
                    id="Grupo_1735"
                    data-name="Grupo 1735"
                    transform="translate(-657.011 -964.452)"
                  >
                    <path
                      id="Trazado_1949"
                      data-name="Trazado 1949"
                      class="cls-1"
                      d="M683.495,964.452H660.528a3.517,3.517,0,0,0-3.517,3.517v13.892a3.517,3.517,0,0,0,3.517,3.516h16.455l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <path
                      id="Trazado_1950"
                      data-name="Trazado 1950"
                      class="cls-2"
                      d="M683.495,964.452H672.011v20.925h4.972l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <circle
                      id="Elipse_84"
                      data-name="Elipse 84"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(661.446 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_85"
                      data-name="Elipse 85"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(669.464 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_86"
                      data-name="Elipse 86"
                      class="cls-4"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(677.482 972.31)"
                    ></circle>
                  </g>
                </svg>
              </figure>
              <h2 class="comments__number">2</h2>
            </div>
          </div>
          <div class="foro__content__resume">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi,
              voluptates incidunt ab nostrum veniam repudiandae qui velit
              cupiditate nemo debitis placeat ipsa natus aliquid hic numquam,
              nam vero. Quidem repudiandae recusandae repellat illo atque
              mollitia nisi! Cupiditate exercitationem rerum excepturi et quos
              corrupti molestiae! Nam, ullam impedit...
            </p>
          </div>
        </a>
      </article>
      <div class="foro__buttons">
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-delete.png"
          />
        </button>
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-edit.png"
          />
        </button>
      </div>
    </div>
    <div class="foro">
      <article class="foro__content">
        <a href="foro.html" style="color: inherit">
          <div class="foro__content__head">
            <div class="foro__content__info">
              <h3 class="foro__content__info__title">Nombre del foro</h3>
              <i class="foro__content__info__span">17/02/2021 - 10°</i>
            </div>
            <div class="comments">
              <figure class="comments__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="27.625"
                  viewBox="0 0 30 27.625"
                >
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #724011;
                      }

                      .cls-2 {
                        fill: #9f632a;
                      }

                      .cls-3 {
                        fill: #fff3e8;
                      }

                      .cls-4 {
                        fill: #e5bc95;
                      }
                    </style>
                  </defs>
                  <g
                    id="Grupo_1735"
                    data-name="Grupo 1735"
                    transform="translate(-657.011 -964.452)"
                  >
                    <path
                      id="Trazado_1949"
                      data-name="Trazado 1949"
                      class="cls-1"
                      d="M683.495,964.452H660.528a3.517,3.517,0,0,0-3.517,3.517v13.892a3.517,3.517,0,0,0,3.517,3.516h16.455l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <path
                      id="Trazado_1950"
                      data-name="Trazado 1950"
                      class="cls-2"
                      d="M683.495,964.452H672.011v20.925h4.972l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <circle
                      id="Elipse_84"
                      data-name="Elipse 84"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(661.446 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_85"
                      data-name="Elipse 85"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(669.464 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_86"
                      data-name="Elipse 86"
                      class="cls-4"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(677.482 972.31)"
                    ></circle>
                  </g>
                </svg>
              </figure>
              <h2 class="comments__number">2</h2>
            </div>
          </div>
          <div class="foro__content__resume">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi,
              voluptates incidunt ab nostrum veniam repudiandae qui velit
              cupiditate nemo debitis placeat ipsa natus aliquid hic numquam,
              nam vero. Quidem repudiandae recusandae repellat illo atque
              mollitia nisi! Cupiditate exercitationem rerum excepturi et quos
              corrupti molestiae! Nam, ullam impedit...
            </p>
          </div>
        </a>
      </article>
      <div class="foro__buttons">
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-delete.png"
          />
        </button>
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-edit.png"
          />
        </button>
      </div>
    </div>
    <div class="foro">
      <article class="foro__content">
        <a href="foro.html" style="color: inherit">
          <div class="foro__content__head">
            <div class="foro__content__info">
              <h3 class="foro__content__info__title">Nombre del foro</h3>
              <i class="foro__content__info__span">17/02/2021 - 10°</i>
            </div>
            <div class="comments">
              <figure class="comments__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="27.625"
                  viewBox="0 0 30 27.625"
                >
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #724011;
                      }

                      .cls-2 {
                        fill: #9f632a;
                      }

                      .cls-3 {
                        fill: #fff3e8;
                      }

                      .cls-4 {
                        fill: #e5bc95;
                      }
                    </style>
                  </defs>
                  <g
                    id="Grupo_1735"
                    data-name="Grupo 1735"
                    transform="translate(-657.011 -964.452)"
                  >
                    <path
                      id="Trazado_1949"
                      data-name="Trazado 1949"
                      class="cls-1"
                      d="M683.495,964.452H660.528a3.517,3.517,0,0,0-3.517,3.517v13.892a3.517,3.517,0,0,0,3.517,3.516h16.455l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <path
                      id="Trazado_1950"
                      data-name="Trazado 1950"
                      class="cls-2"
                      d="M683.495,964.452H672.011v20.925h4.972l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <circle
                      id="Elipse_84"
                      data-name="Elipse 84"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(661.446 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_85"
                      data-name="Elipse 85"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(669.464 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_86"
                      data-name="Elipse 86"
                      class="cls-4"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(677.482 972.31)"
                    ></circle>
                  </g>
                </svg>
              </figure>
              <h2 class="comments__number">2</h2>
            </div>
          </div>
          <div class="foro__content__resume">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi,
              voluptates incidunt ab nostrum veniam repudiandae qui velit
              cupiditate nemo debitis placeat ipsa natus aliquid hic numquam,
              nam vero. Quidem repudiandae recusandae repellat illo atque
              mollitia nisi! Cupiditate exercitationem rerum excepturi et quos
              corrupti molestiae! Nam, ullam impedit...
            </p>
          </div>
        </a>
      </article>
      <div class="foro__buttons">
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-delete.png"
          />
        </button>
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-edit.png"
          />
        </button>
      </div>
    </div>
    <div class="foro">
      <article class="foro__content">
        <a href="foro.html" style="color: inherit">
          <div class="foro__content__head">
            <div class="foro__content__info">
              <h3 class="foro__content__info__title">Nombre del foro</h3>
              <i class="foro__content__info__span">17/02/2021 - 10°</i>
            </div>
            <div class="comments">
              <figure class="comments__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="27.625"
                  viewBox="0 0 30 27.625"
                >
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #724011;
                      }

                      .cls-2 {
                        fill: #9f632a;
                      }

                      .cls-3 {
                        fill: #fff3e8;
                      }

                      .cls-4 {
                        fill: #e5bc95;
                      }
                    </style>
                  </defs>
                  <g
                    id="Grupo_1735"
                    data-name="Grupo 1735"
                    transform="translate(-657.011 -964.452)"
                  >
                    <path
                      id="Trazado_1949"
                      data-name="Trazado 1949"
                      class="cls-1"
                      d="M683.495,964.452H660.528a3.517,3.517,0,0,0-3.517,3.517v13.892a3.517,3.517,0,0,0,3.517,3.516h16.455l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <path
                      id="Trazado_1950"
                      data-name="Trazado 1950"
                      class="cls-2"
                      d="M683.495,964.452H672.011v20.925h4.972l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <circle
                      id="Elipse_84"
                      data-name="Elipse 84"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(661.446 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_85"
                      data-name="Elipse 85"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(669.464 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_86"
                      data-name="Elipse 86"
                      class="cls-4"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(677.482 972.31)"
                    ></circle>
                  </g>
                </svg>
              </figure>
              <h2 class="comments__number">2</h2>
            </div>
          </div>
          <div class="foro__content__resume">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi,
              voluptates incidunt ab nostrum veniam repudiandae qui velit
              cupiditate nemo debitis placeat ipsa natus aliquid hic numquam,
              nam vero. Quidem repudiandae recusandae repellat illo atque
              mollitia nisi! Cupiditate exercitationem rerum excepturi et quos
              corrupti molestiae! Nam, ullam impedit...
            </p>
          </div>
        </a>
      </article>
      <div class="foro__buttons">
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-delete.png"
          />
        </button>
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-edit.png"
          />
        </button>
      </div>
    </div>
    <div class="foro">
      <article class="foro__content">
        <a href="foro.html" style="color: inherit">
          <div class="foro__content__head">
            <div class="foro__content__info">
              <h3 class="foro__content__info__title">Nombre del foro</h3>
              <i class="foro__content__info__span">17/02/2021 - 10°</i>
            </div>
            <div class="comments">
              <figure class="comments__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="27.625"
                  viewBox="0 0 30 27.625"
                >
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #724011;
                      }

                      .cls-2 {
                        fill: #9f632a;
                      }

                      .cls-3 {
                        fill: #fff3e8;
                      }

                      .cls-4 {
                        fill: #e5bc95;
                      }
                    </style>
                  </defs>
                  <g
                    id="Grupo_1735"
                    data-name="Grupo 1735"
                    transform="translate(-657.011 -964.452)"
                  >
                    <path
                      id="Trazado_1949"
                      data-name="Trazado 1949"
                      class="cls-1"
                      d="M683.495,964.452H660.528a3.517,3.517,0,0,0-3.517,3.517v13.892a3.517,3.517,0,0,0,3.517,3.516h16.455l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <path
                      id="Trazado_1950"
                      data-name="Trazado 1950"
                      class="cls-2"
                      d="M683.495,964.452H672.011v20.925h4.972l4.764,6.7,3.979-7.5a3.506,3.506,0,0,0,1.285-2.717V967.969A3.517,3.517,0,0,0,683.495,964.452Z"
                    ></path>
                    <circle
                      id="Elipse_84"
                      data-name="Elipse 84"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(661.446 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_85"
                      data-name="Elipse 85"
                      class="cls-3"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(669.464 972.31)"
                    ></circle>
                    <circle
                      id="Elipse_86"
                      data-name="Elipse 86"
                      class="cls-4"
                      cx="2.735"
                      cy="2.735"
                      r="2.735"
                      transform="translate(677.482 972.31)"
                    ></circle>
                  </g>
                </svg>
              </figure>
              <h2 class="comments__number">2</h2>
            </div>
          </div>
          <div class="foro__content__resume">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi,
              voluptates incidunt ab nostrum veniam repudiandae qui velit
              cupiditate nemo debitis placeat ipsa natus aliquid hic numquam,
              nam vero. Quidem repudiandae recusandae repellat illo atque
              mollitia nisi! Cupiditate exercitationem rerum excepturi et quos
              corrupti molestiae! Nam, ullam impedit...
            </p>
          </div>
        </a>
      </article>
      <div class="foro__buttons">
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-delete.png"
          />
        </button>
        <button class="student-table__data__document__btn-square">
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/icon-delete.png"
          />
        </button>
      </div>
    </div>
  </main>
</div>
