<div class="texture_brgd">
  <main class="maloka">
    <h1 class="maloka__title">
      MALOKA
      <button class="btn-modal" id="modal-maloka">
        <img src="assets/images/Botones menu/boton_info@2x_opt.png" />
      </button>
    </h1>
    <ul class="bloque_modulos">
      <a routerLink="/maloka/civil">
        <li class="modulo modulo_civil">
          <div class="iz_mod">
            <h3 class="title_mod">CIVIL</h3>
          </div>
        </li>
      </a>
      <a routerLink="/maloka/espiritual">
        <li class="modulo modulo_espiritual">
          <div class="iz_mod">
            <h3 class="title_mod">ESPIRITUAL</h3>
          </div>
        </li>
      </a>
      <a routerLink="/maloka/exploracion">
        <li class="modulo modulo_exploracion">
          <div class="iz_mod">
            <h3 class="title_mod">EXPLORACIÓN</h3>
          </div>
        </li>
      </a>
    </ul>
  </main>
</div>
