<div class="fire_brgd">
  <div class="welcome">
    <main>
      <h1>BIENVENIDO</h1>
      <p class="italic_">
        “La destrucción parece inminente pero la esperanza persiste. Si logras
        encontrar el balance de los saberes las puertas del futuro seguirán
        abiertas”
      </p>
      <p class="bold_ italic_">-El Libro de Bilan-</p>
      <p>
        <span class="bold_">¡Te estábamos esperando!</span> este mundo está
        pasando por uno de sus períodos más críticos. Un profundo desbalance
        entre sus pueblos lo tiene al borde la extinción y solo tú podrás ayudar
        a recuperar al equilibro. Completa las actividades y juega los retos
        para así lograr que los elementos y los espíritus se reconcilien con los
        humanos y Bilan tenga una segunda oportunidad.
      </p>
    </main>
  </div>
</div>
