<main class="conteedor_main_menu panel-control">
  <aside>
    <div class="fases">
      <button class="btn_intro active">Fase preactiva</button>
      <button class="btn_intro">Fase interactiva</button>
      <button class="btn_intro">Fase posactiva</button>
    </div>
    <div class="divisor">
      <figure><img src="Assets/Fondos/Fondo_division.png" alt="" /></figure>
    </div>
    <div class="grados">
      <button class="btn-square btn-square--background active">10A</button>
      <button class="btn-square btn-square--background">10A</button>
      <button class="btn-square btn-square--background">10A</button>
      <button class="btn-square btn-square--background">10A</button>
      <button class="btn-square btn-square--background">10A</button>
      <button class="btn-square btn-square--background">10A</button>
    </div>
    <div class="divisor">
      <figure><img src="Assets/Fondos/Fondo_division.png" alt="" /></figure>
    </div>
    <div class="acti-eva">
      <button class="btn_intro">
        <a
          href="lenguaje-10/05 - Lenguaje 1.html"
          target="_blank"
          style="color: inherit"
        >
          Actividades
        </a>
      </button>
      <button class="btn_intro active">Evaluar</button>
    </div>
  </aside>
  <div class="student-table">
    <h2 class="student-table__title">Estudiante</h2>
    <h2 class="student-table__title">Fecha subida de actividad</h2>
    <h2 class="student-table__title">Documento/s</h2>
    <h2 class="student-table__title">Evaluacion</h2>
    <div class="student-table__data scroll-container">
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <button class="btn_intro btn-modal" id="evaluarModal">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_ojo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_ojo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date disabled">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document disabled">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation disabled">
        <button class="btn_intro">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date disabled">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document disabled">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation disabled">
        <button class="btn_intro">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <button class="btn_intro btn-modal" id="evaluarModal2">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <button class="btn_intro btn-modal" id="evaluarModal3">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date disabled">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document disabled">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation disabled">
        <button class="btn_intro">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <button class="btn_intro btn-modal" id="evaluarModal4">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <button class="btn_intro btn-modal" id="evaluarModal5">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <button class="btn_intro btn-modal" id="evaluarModal6">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date disabled">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document disabled">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation disabled">
        <button class="btn_intro">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <button class="btn_intro btn-modal" id="evaluarModal8">Evaluar</button>
      </div>
      <div class="student-table__data__student">
        <figure class="student-table__data__student__img">
          <img src="Assets/avatars/A__2Aire.jpg" alt="" />
        </figure>
        <p class="student-table__data__student__name">Nombre del estudiante</p>
      </div>
      <div class="student-table__data__date">
        <p class="student-table__data__student__name">05/07/2021</p>
      </div>
      <div class="student-table__data__document">
        <a
          href="./dowload/Ejemplo_Actividad_Lenguaje.pdf"
          download="Ejemplo activida lenguaje.pdf"
          class="student-table__data__document__btn-square"
        >
          <img
            src="https://www.bilan.pi-interactiva.com/fotos/var/albums/Botones-menu/icono_archivo%402x.png"
          />
        </a>
      </div>
      <div class="student-table__data__evaluation">
        <button class="btn_intro btn-modal" id="evaluarModal9">Evaluar</button>
      </div>
    </div>
  </div>
</main>
